@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Stack+Sans+Text:wght@200..700&display=swap');





*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}


body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg,#0a0a0a,#3a4452);
}


.calculator{
    border: 1px solid ;
    border-radius: 16px;
    padding: 20px;
    background: transparent ;
    box-shadow: 0px 3px 15px rgba(113, 115, 125, 0.5 );

}


input{
    width:320px;
    border: none;
    padding: 24px;
    margin: 10px;
    background: transparent;
    box-shadow: 0px 13px 15px rgba(84,84,84, 0.1);
    font-size: 40px;
    text-align: right;
    cursor: pointer;
    color: #ffffff;

}

input::placeholder{
    color: #ffffff;
}



button{
    border: none;
    border-radius: 50px;
    width: 60px;
    height: 60px;
    margin: 10px;
    background: transparent;
    font-size: 20px;
    color: #ffffff;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.9);
    cursor: pointer;
}


.equil{
    background-color: rgb(247, 133, 3);
    border: none;
    border-radius: 50%;
}


.opperator{
    background-color: black;
}





.vercel{
    display: inline-block;
    padding: 10px 20px;
    background-color: #000000;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}


.vercel:hover {
    background-color: #333333;
}